<div class="text-center" style="display: flex; justify-content: space-between; margin-left:50px">
 <div style="width: 50%; display: flex, flex-direction: column;">
  <% @pharmacies.each do |pharmacy| %>
   <%= link_to pharmacy_path(pharmacy), class: "link-href" do %>
    <div class="card-product">
      <img src="https://www.lemeilleur.ma/wp-content/uploads/2021/03/medecin-xx.jpg" />
      <div class="card-product-infos">
        <h2> <i class="fa-thin fa-user-doctor-hair"></i><%= pharmacy.name %></h2>
        <p> <i class="fa-solid fa-map-pin"></i> <%= pharmacy.address %> </p>
        <div class="d-grid gap-2">
         <button class="btn btn-success phone" id="phone" type="button"> <i class="fa-solid fa-phone phone-icon"></i><%= pharmacy.phone_number%></button>
          </div>
      </div>
    </div>
     <% end%>
     <% end%>
     </div>
  <div style="width:500px; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
<div>
</div>